/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Custom CSS */

body {
    font-family: 'Poppins', sans-serif;
}

.check-circle-color {
    color: blueviolet;
}

.banker-color {
    color: #747474;
}

.button-color {
    color: #747474;
}

.badge {
    margin-top: -15px;
    margin-right: 30px;
    
}

#popular {
    border-radius: 25px;
}

